# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
Makefile                                  @pcrespov, @Surfict
/.travis.yml                              @sanderegg, @Surfict
/ci/                                      @sanderegg, @Surfict
/devpi/                                   @oetiker
/pip-kits/                                @oetiker
/python-with-pandas/                      @pcrespov
/qooxdoo-kit/                             @ignapas , @pcrespov
/rabbitmq/                                @sanderegg
/scripts/                                 @pcrespov